<h2>Armar Cartelera - Crear Película</h2>

<form [formGroup]="formPelicula" (ngSubmit)="guardarPelicula()">
  <!-- Nombre -->
  <div>
    <input formControlName="nombre" placeholder="Nombre de la película">
    @if (submitted && formPelicula.get('nombre')?.invalid) {
      <div class="error">
        @if (formPelicula.get('nombre')?.hasError('required')) {
          Campo obligatorio incompleto
        } @else if (formPelicula.get('nombre')?.hasError('minlength')) {
          Debe tener al menos 2 caracteres
        }
      </div>
    }
  </div>

  <!-- Fecha de estreno -->
  <div>
    <input 
      formControlName="fecha_estreno" 
      type="text" 
      placeholder="Fecha de estreno" 
      onfocus="(this.type='date')" 
      onblur="(this.value ? this.type='date' : this.type='text')">
      
    @if (submitted && formPelicula.get('fecha_estreno')?.invalid) {
      <div class="error">
        Campo obligatorio incompleto
      </div>
    }
  </div>

  <!-- Selección de Imagen (.jpg) -->
  <div>
    <label style="display: block; margin-bottom: 5px; font-weight: bold;">Póster de la película (.jpg / .png):</label>
    <input type="file" accept="image/jpeg, image/jpg, image/png" (change)="onFileSelected($event)">
    @if (submitted && !selectedFile) {
      <div class="error">
        Debes seleccionar una imagen para la película
      </div>
    }
  </div>

  <!-- Duración -->
  <div>
    <input formControlName="duracion" type="number" placeholder="Duración en minutos (ej: 120)">
    @if (submitted && formPelicula.get('duracion')?.invalid) {
      <div class="error">
        @if (formPelicula.get('duracion')?.hasError('required')) {
          Campo obligatorio incompleto
        } @else if (formPelicula.get('duracion')?.hasError('min')) {
          La duración debe ser mayor a 0 minutos
        }
      </div>
    }
  </div>

  <!-- Sinopsis -->
  <div>
    <textarea formControlName="sinopsis" placeholder="Sinopsis de la película" rows="4"></textarea>
    @if (submitted && formPelicula.get('sinopsis')?.invalid) {
      <div class="error">
        @if (formPelicula.get('sinopsis')?.hasError('required')) {
          Campo obligatorio incompleto
        } @else if (formPelicula.get('sinopsis')?.hasError('minlength')) {
          La sinopsis debe tener al menos 10 caracteres
        }
      </div>
    }
  </div>

  <button type="submit" [disabled]="subiendoImagen">
    {{ subiendoImagen ? 'Subiendo datos e imagen...' : 'Guardar Película' }}
  </button>
  <button type="button" (click)="cancelar()">Cancelar</button>
</form>