<aside class="sidebar">
  <h2>Menú</h2>
  <ul>
    <!-- Administrador -->
    @if (rol === 'admin') {
      <li><a routerLink="/home">🏠 Inicio</a></li>
      <li><a routerLink="/cartelera">🎬 Cartelera</a></li>
      <li><a routerLink="/armar-cartelera">➕ Crear Película</a></li>
      <li><a routerLink="/candybar">🍿 Candy Bar </a></li>
      <li><a routerLink="/crear-producto">➕ Crear Producto</a></li>
      <li><a routerLink="/crear-funcion">🍿 Crear Función</a></li>
      <li><a routerLink="/lista-funciones">📅 Agenda Funciones</a></li> 
      <li><a routerLink="/registrar-empleado">📝 Registrar Empleado</a></li>
    }

    <!-- Empleado -->
    @if (rol === 'empleado') {
      <li><a routerLink="/home">🏠 Inicio</a></li>
      <li><a routerLink="/cartelera">🎬 Ver Cartelera</a></li>
      <li><a routerLink="/verificar-entrada">✅ Verificar Entrada</a></li>
    }

    <!-- Cliente -->
    @if (rol === 'cliente') {
      <li><a routerLink="/home">🏠 Inicio</a></li>
      <li><a routerLink="/cartelera">🎬 Cartelera</a></li>
      <li><a routerLink="/candybar">🍿 Candy Bar </a></li>
      <li><a routerLink="/mis-ordenes">🎟️ Mis ordenes</a></li>
      <li><a routerLink="/estado-cliente">💳 Estado de Cuenta</a></li>
    }

    <!-- Anónimo -->
    @if (rol === 'anonimo') {
      <li><a routerLink="/home">🏠 Inicio</a></li>
      <li><a routerLink="/cartelera">🎬 Ver Cartelera</a></li>
      <li><a routerLink="/candybar">🍿 Candy Bar </a></li>
    }
  </ul>

  <!-- Footer con lógica diferida según el tipo de usuario -->
  <div class="sidebar-footer">
    @if (rol === 'anonimo') {
      <button (click)="salirAnonimo()">🚪 Salir</button>
    } @else {
      <button (click)="cerrarSesion()">🚪 Cerrar sesión</button>
    }
  </div>
</aside>